.team-tag {
  display: inline-block;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 9999px;
  border: 1px solid;
  background-color: #e5e0e0;
}

/* 팀별 카테고리 스타일 */
/* LG 트윈스 */
.tag-LG {
  color: #C60C30;
  border-color: #C60C30;
  background-color: #ffd1d1;
}

/* 한화 이글스 */
.tag-HH {
  color: #FA6A00 ;
  border-color: #FA6A00 ;
  background-color: #ffe0ca;
}

/* 롯데 자이언츠 */
.tag-LT {
  color: #002955;
  border-color: #002955;
  background-color: #d0e6ff;
}

/* 삼성 라이온즈 */
.tag-SS {
  color: #005BAC; 
  border-color: #005BAC;
  background-color: #d0f0ff;
}

/* SSG 랜더스 */
.tag-SSG {
  color: #c8102e;
  border-color: #c8102e; 
  background-color: #fcbdbd;
}

/* NC 다이노스 */
.tag-NC {
  color: #1F3C88;
  border-color: #1F3C88; 
  background-color: #d0f0ff;
}

/* 두산 베어스 */
.tag-OB {
  color: #0E2344; 
  border-color: #0E2344;
  background-color: #d0e6ff;
}

/* KIA 타이거즈 */
.tag-HT {
  color: #C6011F; 
  border-color: #C6011F; 
    background-color: #fcbdbd;
}

/* KT 위즈 */
.tag-KT {
  color: #000000; 
  border-color: #000000; 
  background-color: #78797a;
}


/* 키움 히어로즈 */
.tag-WO {
  color: #6F263D; 
  border-color: #6F263D;
    background-color: #e0bbc7;
}
