{% extends "base.html" %}
{% load static %}
{% block title %}캘린더{% endblock %}
{% block body %}
  {% block content %}{% endblock %}
  <!-- 캘린더용 스타일 -->
  <link rel="stylesheet" type="text/css" href="{% static 'cal/style.css' %}">
  {% block script %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  {% endblock %}
{% endblock %}