{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'posts/css/create.css' %}">
{% endblock %}

{% block body %}
  <div class="bg-neutral-100 flex items-center justify-center py-12 px-4 font-handdrawn">
    <img src="{% static 'posts/images/detail/pinkhitter.png' %}" alt="스티커" class="w-36 absolute top-4 left-4 z-0 mt-50">
<img src="{% static 'posts/images/detail/bluehitter.png' %}" alt="스티커" class="w-36 absolute top-4 right-4 z-0  mt-90">
    <div class="bg-white rounded-2xl px-12 py-10 shadow-xl w-full max-w-6xl z-10 relative">
      <h1 class="text-3xl font-extrabold text-center text-black mb-10 tracking-wider">게시글 작성</h1>

      <form action="" method="POST" enctype="multipart/form-data" class="space-y-6 text-gray-800">
          {% csrf_token %}
          <div>
            {{ form.category }}
          </div>
          <div>
            {{ form.title }}
          </div>
          <div>
            {{ form.content }}
          </div>
          <div>
            <input type="file" name="images" multiple
              class="w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-4 
              file:border file:rounded-md file:border-gray-300 file:bg-gray-100 
              hover:file:bg-gray-200">
          </div>

          <div class="text-center mt-8">
            <button type="submit"
                class="rounded-full px-8 py-3 bg-[#9AA6B2] text-white text-lg font-semibold 
                       hover:bg-[#BCCCDC] transition duration-200 shadow-md">
                작성 완료
            </button>
          </div>
      </form>
    </div>
  </div>
{% endblock %}
