@font-face {
    font-family: 'IncheonJaram';
    src: url('/static/fonts/incheonedu_jaram.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YdestreetL';
    src: url('/static/fonts/YdestreetL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YdestreetB';
    src: url('/static/fonts/YdestreetB.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('/static/fonts/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Tailwind용 클래스 정의 */
.font-parkdahyun {
    font-family: 'Ownglyph_ParkDaHyun', cursive;
    font-size: 26px;
}

.font-jaram {
    font-family: 'IncheonJaram', sans-serif;
    font-size: 26px;
    font-weight: 600;
}

.font-ydestreetl {
    font-family: 'YdestreetL', sans-serif;
}

.font-ydestreetb {
    font-family: 'YdestreetB', sans-serif;
    font-weight: bold;
}

.font-black-han {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cal-title {
    font-family: 'YdestreetB', sans-serif;
    font-size: 30px;
}

@media (min-width: 600px) {
    .cal-title {
        font-size: 50px;
    }

}