{% extends 'base.html' %}
{% load static %}

{% block title %}테스트 결과 | 직돌이{% endblock %}

{% block body %}
<div class="min-h-screen flex justify-center items-center bg-gradient-to-b from-[#f3e7ff] via-[#ffeef2] to-[#d5f3ff]">
  <!-- 질문 카드 전체 영역: 배경이미지 + 내용 -->
  <div class="w-full sm:max-w-[450px] max-sm:h-screen aspect-[9/16] sm:rounded-2xl overflow-hidden shadow-lg bg-cover bg-center relative px-4"
     style="background-image: url('{% static 'posts/images/리액션형직돌이.png' %}'); background-size: cover; background-position: center;">
   
      <!-- 재시작 버튼 -->
     <div class="absolute bottom-20 w-full flex justify-center font-parkdahyun">
        <a href="{% url 'jikdoltest:start' %}"
        class="bg-blue-400 hover:bg-blue-500 text-white font-bold py-4 px-8 rounded-full text-[30px] shadow-xl transition ">
          다시하기
        </a>
      </div>

      <!-- SNS 공유 버튼들 -->
      <div class="absolute bottom-8 w-full flex justify-center items-center gap-4">

        <!-- 트위터 공유 버튼 -->
        <a href="https://twitter.com/intent/tweet?url=http://127.0.0.1:8000/posts/result/E/&text=직돌이%20테스트%20결과" target="_blank"
          class="">
          <img src="{% static 'posts/images/x.png' %}" alt="트위터 공유" class="w-8 h-8">
        </a>

        <!-- 카카오톡 공유 버튼 -->
        <a id="kakaotalk-sharing-btn" href="javascript:shareMessage()">
          <img src="https://developers.kakao.com/assets/img/about/logos/kakaotalksharing/kakaotalk_sharing_btn_medium.png"
            alt="카카오톡 공유 보내기 버튼" class="w-8 h-8" />
        </a>

        <!-- 링크 복사 버튼 -->
        <button id="copy-link-btn"type="button" class="cursor-pointer focus:outline-none z-10 w-8 h-8 flex items-center justify-center ">
          <svg class="w-10 h-10 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2M12 4v12m0-12 4 4m-4-4L8 8"/>
          </svg>
        </button>

      </div>  
  </div>
</div>

<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.5/kakao.min.js" integrity="sha384-dok87au0gKqJdxs7msEdBPNnKSRT+/mhTVzq+qOhcL464zXwvcrpjeWvyj1kCdq6" crossorigin="anonymous"></script>

<script>
  Kakao.init('1c62050d52e114ddafc59708fd10d1e6');  // 사용하려는 앱의 JavaScript 키 입력
</script>
<script>
  function shareMessage() {
    Kakao.Share.sendCustom({
      templateId: 121724,  // 공유 할 메시지 템플릿 ID 입력
     
    });
  }
  // 링크 복사 기능
  document.getElementById('copy-link-btn').onclick = function() {
    navigator.clipboard.writeText('http://127.0.0.1:8000/test/result/E/')
      .then(function() {
        alert('링크가 복사되었습니다!');
      });
  }
</script>
{% endblock %}