{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'auth/css/auth.css' %}">
{% endblock %}
{% block body %}
<div class="root">
  <!-- 로그인 -->
  <div class="signin-wrapper form {% if mode == 'login' %}active{% endif %}">
    <div class="form-wrapper">
      <h5>로그인</h5>
      <form method="post" action="?mode=login">
        {% csrf_token %}
        {{ login_form.non_field_errors }}
        {{ login_form.username }}
        {{ login_form.password }}
        <button type="submit" class="button primary">로그인</button>
        <button type="button" class="button secondary" id="click-signup">회원가입</button>
      </form>
    </div>
  </div>

  <!-- 회원가입 -->
  <div class="signup-wrapper form {% if mode == 'signup' %}active{% endif %}">
    <div class="form-wrapper">
      <h5>회원가입</h5>
      <form method="post" action="?mode=signup">
        {% csrf_token %}
        {{ signup_form.non_field_errors }}
        {{ signup_form.username }}
        {{ signup_form.nickname }}
        {{ signup_form.team }}
        {{ signup_form.password1 }}
        {{ signup_form.password2 }}
        <button type="submit" class="button primary">회원가입</button>
        <button type="button" class="button secondary" id="click-signin">로그인</button>
      </form>
    </div>
  </div>
</div>

<script>
  const signinWrapper = document.querySelector('.signin-wrapper');
  const signupWrapper = document.querySelector('.signup-wrapper');
  const clickSignupBtn = document.getElementById('click-signup');
  const clickSigninBtn = document.getElementById('click-signin');

  if (clickSignupBtn) {
    clickSignupBtn.addEventListener('click', () => {
      window.location.href = "?mode=signup";
    });
  }

  if (clickSigninBtn) {
    clickSigninBtn.addEventListener('click', () => {
      window.location.href = "?mode=login";
    });
  }
</script>
{% endblock %}