@font-face {
  font-family: 'YdestreetB';
  src: url('/static/fonts/YdestreetB.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

.font-handdrawn {
  font-family: 'YdestreetB', sans-serif;
}
