/* 닉네임 셀 스타일 */
.scroll-cell {
  max-width: 120px;
  overflow-x: auto;
  white-space: nowrap;
}

/* 스크롤바 스타일 */
.scroll-cell::-webkit-scrollbar {
  height: 4px;
}

.scroll-cell::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-cell::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 2px;
}

.scroll-cell::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* LG 트윈스 */
.high-LG {
  color: #C60C30;
}

/* 한화 이글스 */
.high-HH {
  color:  #FA6A00;
}

/* 롯데 자이언츠 */
.high-LT {
  color: #002955;
}

/* 삼성 라이온즈 */
.high-SS {
  color: #005BAC;
}

/* SSG 랜더스 */
.high-SK {
  color: #c8102e;
}

/* NC 다이노스 */
.high-NC {
  color:  #1F3C88;
}

/* 두산 베어스 */
.high-OB {
  color:  #0E2344;
}

/* KIA 타이거즈 */
.high-HT {
  color: #C6011F;
}

/* KT 위즈 */
.high-KT {
  color: #000000;
}

/* 키움 히어로즈 */
.high-WO {
  color: #6F263D;
}