/* Google Font 클래스 정의 */
.font-black-han {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-gamja-flower {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-noto {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* LG 트윈스 */
.highlight-LG {
  color: #C60C30;
}

/* 한화 이글스 */
.highlight-HH {
  color:  #FA6A00;
}

/* 롯데 자이언츠 */
.highlight-LT {
  color: #002955;
}

/* 삼성 라이온즈 */
.highlight-SS {
  color: #005BAC;
}

/* SSG 랜더스 */
.highlight-SK {
  color: #c8102e;
}

/* NC 다이노스 */
.highlight-NC {
  color:  #1F3C88;
}

/* 두산 베어스 */
.highlight-OB {
  color:  #0E2344;
}

/* KIA 타이거즈 */
.highlight-HT {
  color: #C6011F;
}

/* KT 위즈 */
.highlight-KT {
  color: #000000;
}

/* 키움 히어로즈 */
.highlight-WO {
  color: #6F263D;
}