{% load static %}
<nav x-data="{ mobileMenuOpen: false }"
    class="relative z-90 bg-cover w-full bg-transparent py-1 md:py-3 font-nav [background-position:0%_100%]"
    style="{% if user.team == none %}background-image: url('{% static 'nav/nav-' %}nothing.png');{% else %}background-image: url('{% static 'nav/nav-' %}{{ user.team }}.png');{% endif %}">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 ">
        <div class="relative flex h-16">
            <!-- Mobile menu button -->
            <div class="absolute inset-y-0 left-0 flex md:hidden">
                <button type="button"
                        @click="mobileMenuOpen = !mobileMenuOpen"
                        :aria-expanded="mobileMenuOpen"
                        class="inline-flex items-center rounded-md m-2 p-4 text-white active:bg-gray-500 active:ring-2 active:ring-white active:outline-hidden active:ring-inset"
                        aria-controls="mobile-menu">
                    <span class="absolute -inset-0.5"></span>
                    <!-- 메뉴 닫힌 상태 -->
                    <svg :class="{ 'hidden': mobileMenuOpen, 'block': !mobileMenuOpen }"
                        class="size-6"
                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <!-- 메뉴 열린 상태 -->
                    <svg :class="{ 'block': mobileMenuOpen, 'hidden': !mobileMenuOpen }"
                        class="size-6"
                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
                <!-- 모바일 홈 텍스트 추가 -->
                   <div class="absolute left-1/2 inset-x-0 flex justify-center items-center">
                     <a href="{% url 'index' %}" class="absolute   text-xl font-bold text-white ">
                        직돌이
                        </a>
                    </div> 
            </div>
            <!-- 중앙에 '직돌이' 타이틀 추가 -->
            <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-4xl font-bold text-white"
                style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);">
                직돌이
            </div>
            <div class="flex flex-1 justify-center">
                <div id="menu" class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 justify-between w-full items-center text-shadows md:flex hidden">
                    <!-- 왼쪽 메뉴 -->
                    <div class="flex items-center">
                        <!-- 일부러 둔 빈div박스 -->
                        <span class="p-3 w-15 text-center text-gray-700"></span>
                    </div>
                    <div class="flex flex-1 items-center gap-x-6">
                        <a href="{% url 'cal:calendar' %}" class="text-black hover:text-blue-600">
                            <span class="relative tracking-widest">
                                <span class="absolute inset-x-0 bottom-1 h-4 rounded-md bg-yellow-200 -z-10"></span>
                                <span>캘린더</span>
                            </span>
                        </a>
                        <a href="{% url 'posts:post_index' %}" class="text-black hover:text-blue-500">
                            <span class="relative tracking-widest">
                                <span class="absolute inset-x-0 bottom-1 h-4 rounded-md bg-[#DDFFBC]  -z-10"></span>
                                <span>응원석</span>
                            </span>
                        </a>
                        <a href="{% url 'cal:standings'%}" class="text-black hover:text-blue-500">
                            <span class="relative tracking-widest">
                                <span class="absolute inset-x-0 bottom-1 h-4 rounded-md bg-[#91C788]  -z-10"></span>
                                <span>순위</span>
                            </span>
                        </a>
                        <div x-data="{ open: false }">
                            <!-- 드롭다운 트리거 -->
                            <span @click="open = !open"
                                    class="relative tracking-widest cursor-pointer">
                                <span class="absolute inset-x-0 bottom-1 h-4 rounded-md bg-[#52734D] -z-10"></span>
                                <span class="hover:text-blue-500">경기장</span>
                            </span>

                            <!-- 드롭다운 메뉴 -->
                            <div x-show="open"
                                @click.outside="open = false"
                                x-transition
                                class="absolute mt-2 bg-white border border-gray-300 shadow-lg rounded-md z-50 w-40">
                                {% for stadium in stadiums %}
                                    <a href="{% url 'cal:stadium_info' stadium %}" 
                                        class="block px-4 py-2 text-gray-800 hover:bg-gray-100">
                                        {{ stadium }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <!-- 가운데 홈버튼 -->
                    <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
                        <a href="{% url 'index' %}" class="flex items-center {% if user.is_authenticated %}-rotate-8{% endif %}">
                            <img 
                            src="{% if user.is_authenticated %}
                                        {% static 'cal/images/mascots/' %}{{ user.team }}line.svg
                                    {% else %}
                                        {% static random_background %}
                                    {% endif %}"
                            alt="Mascot"
                            class="h-24"
                            >
                        </a>
                    </div>

                    <!-- 오른쪽 사용자 메뉴 -->
                    <div class="flex items-center gap-x-6">
                        {% if user.is_authenticated %}
                            <a href="{% url 'accounts:mypage' %}" class="text-black hover:text-blue-500">
                                <span class="relative tracking-widest">
                                    <span class="absolute inset-x-0 bottom-1 h-4 rounded-md bg-[#FCEF91] -z-10"></span>
                                    <span>{{ user.nickname }}</span>
                                </span>
                            </a>

                            <a href="{% url 'accounts:logout' %}" class="text-black hover:text-blue-500">
                                <span class="relative tracking-widest">
                                    <span class="absolute inset-x-0 bottom-1 h-4 rounded-md bg-red-400 -z-10"></span>
                                    <span>로그아웃</span>
                                </span>
                            </a>
                        {% else %}
                            <a href="{% url 'accounts:auth' %}" class="text-black hover:text-blue-600">
                                <span class="relative tracking-widest">
                                    <span class="absolute inset-x-0 bottom-1 h-4 rounded-md bg-red-400 -z-10"></span>
                                    <span>로그인</span>
                                </span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="flex items-center">
                        <!-- 일부러 둔 빈div박스 -->
                        <span class="p-3 w-32 text-center text-gray-700"></span>
                    </div>
                </div>
            </div>
            <!-- 승리요정 -->
            {% if user.is_authenticated %}
                <div class="grid grid-cols-1 justify-end items-end h-auto" style="width: clamp(90px, 20vw, 160px);" x-show="!mobileMenuOpen" x-transition.opacity>
                    {% with winning_percent=winning_percent %}
                    <a id="fairy" href="{% url 'cal:user_games' user.id %}" class="inline-block w-fit">
                        {% if winning_percent >= 50 %}
                            <img src="{% static 'cal/images/fairy/' %}{{ user.team }}-winning.svg" alt="승리요정"
                                class="w-full max-w-[100px] md:max-w-[160px] h-auto">
                        {% else %}
                            <img src="{% static 'cal/images/fairy/' %}{{ user.team }}-losing.svg" alt="패배요정"
                                class="w-full max-w-[100px] md:max-w-[160px] h-auto">
                        {% endif %}
                    </a>
                    {% if request.resolver_match.url_name == 'calendar' %}
                        <img src="/static/cal/images/bg/attended_alert.svg" alt="dd" class="py-4 w-28 ml-12 -rotate-15 max-lg:hidden"> 
                    {% endif %}
                    {% endwith %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Mobile 메뉴 -->
    <div class="hidden" id="mobile-menu">
        <div class="space-y-1 p-2 text-xl text-stroke">
            <a href="{% url 'index' %}" class="text-white block rounded-md px-3 py-1 bg-gray-900/50 mask-linear-50 mask-direction-right mask-linear-from-20% mask-linear-to-100%">
                홈
            </a>
            <a href="{% url 'cal:calendar' %}" class="block rounded-md px-3 py-1 active:bg-[#FFFFFF] mask-linear-50 mask-direction-right mask-linear-from-20% mask-linear-to-100%">
                캘린더
            </a>
            <a href="{% url 'posts:post_index' %}" class="block rounded-md px-3 py-1 active:bg-[#FFFFFF] mask-linear-50 mask-direction-right mask-linear-from-20% mask-linear-to-100%">
                응원석
            </a>
            <a href="{% url 'cal:standings'%}" class="block rounded-md px-3 py-1 active:bg-[#FFFFFF] mask-linear-50 mask-direction-right mask-linear-from-20% mask-linear-to-100%">
                순위
            </a>

            <div x-data="{ open: false }" class="relative">
                <button @click="open = !open"
                        class="w-full flex justify-between items-center rounded-md px-3 py-2 active:bg-[#FFFFFF] mask-linear-50 mask-direction-right mask-linear-from-20% mask-linear-to-100%">
                    <span>경기장</span>
                    <svg :class="{ 'transform rotate-180': open }"
                        class="w-4 h-4 ml-2 transition-transform"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 9l-7 7-7-7"/>
                    </svg>
                </button>

                <!-- 드롭다운 목록 -->
                <div x-show="open" @click.outside="open = false" x-transition
                    class="mt-1 space-y-1 rounded-md bg-[#FFFBEB] py-2 px-2 shadow-lg z-50">
                    {% for stadium in stadiums %}
                    <a href="{% url 'cal:stadium_info' stadium %}"
                        class="block px-4 py-2 text-black active:bg-[#F5F5F5] mask-linear-50 mask-direction-right mask-linear-from-20% mask-linear-to-100% hover:bg-[#F5F5F5] rounded-md">
                        {{ stadium }}
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% if user.is_authenticated %}
            <a href="{% url 'cal:user_games' user.id %}" class="block rounded-md px-3 py-1 active:bg-[#FFFFFF] mask-linear-50 mask-direction-right mask-linear-from-20% mask-linear-to-100%">
                직관 승률
            </a>
            <a href="{% url 'accounts:logout' %}" class="block rounded-md px-3 py-1 active:bg-[#FFFFFF] mask-linear-50 mask-direction-right mask-linear-from-20% mask-linear-to-100%">
                로그아웃
            </a>
            {% else %}
            <a href="{% url 'accounts:auth' %}" class="block rounded-md px-3 py-1 active:bg-[#FFFFFF] mask-linear-50 mask-direction-right mask-linear-from-20% mask-linear-to-100%">
                로그인
            </a>
            {% endif %}
        </div>
    </div>
</nav>