{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="야구 직관가는 직돌이"/>
        <meta property="og:description" content="프로야구 일정에 따른 직관 예매와 선수 정보들을 제공해드립니다!"/>
        <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'favicon_high.png' %}" />
        <title>
            {% block title %}
            {% endblock %}
        </title>
        {% load static %}
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
        <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
        <link rel="stylesheet" href="{% static 'cal/css/calendar.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap">
        {% block styles %}
        {% endblock %}
</head>
<body x-data="{ mobileMenuOpen: false }" class="min-h-screen max-w-screen relative font-ydestreetl bg-paper overflow-x-hidden">
    {% include '_nav.html' %}
    {% block body %}
    {% endblock %}

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggleBtn = document.querySelector('button[aria-controls="mobile-menu"]');
        const openIcon = toggleBtn.querySelectorAll('svg')[0];
        const closeIcon = toggleBtn.querySelectorAll('svg')[1];
        const mobileMenu = document.getElementById('mobile-menu');

        toggleBtn.addEventListener('click', () => {
        const isExpanded = toggleBtn.getAttribute('aria-expanded') === 'true';

        toggleBtn.setAttribute('aria-expanded', !isExpanded);
        openIcon.classList.toggle('hidden', !isExpanded);
        closeIcon.classList.toggle('hidden', isExpanded);
        mobileMenu.classList.toggle('hidden');
        });
        // 화면 리사이즈 시 메뉴 닫기
        window.addEventListener('resize', () => {
        if (window.innerWidth >= 768) {
            // md 이상일 경우 메뉴 닫힘 상태로 초기화
            toggleBtn.setAttribute('aria-expanded', 'false');
            openIcon.classList.remove('hidden');
            closeIcon.classList.add('hidden');
            mobileMenu.classList.add('hidden');
        }
        });
    });
    </script>
</body>
</html>