{% load static %}
<div class="pitcher-card">
    {% if pitcher %}
        <div class="">
            <div class="player-image-container">
                <img src="/static/images/players/{{ pitcher.player_id }}.jpg"
                alt="{{ pitcher.player_name }}" 
                class="player-image">
            </div>
            <div class="player-info">
                <p class="player-name">{{ pitcher.player_name }}</p>
            </div>
            <div class="stats-container">
                <div class="stat-item">
                    <span class="stat-label">Velocity</span>
                    <div class="stat-bar-container">
                        <div class="stat-bar" data-width="{{ pitcher.speed }}"></div>
                    </div>
                    <span class="stat-value">{{ pitcher.speed }}</span>
                </div>
                <div class="stat-item">
                    <span class="stat-label">Control</span>
                    <div class="stat-bar-container">
                        <div class="stat-bar" data-width="{{ pitcher.control }}"></div>
                    </div>
                    <span class="stat-value">{{ pitcher.control }}</span>
                </div>
                <div class="stat-item">
                    <span class="stat-label">Stamina</span>
                    <div class="stat-bar-container">
                        <div class="stat-bar" sdata-width="{{ pitcher.stamina }}"></div>
                    </div>
                    <span class="stat-value">{{ pitcher.stamina }}</span>
                </div>
            </div>
        </div>
    {% else %}
    {% endif %}
</div>