<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto grid max-w-7xl gap-20 px-6 lg:px-8 xl:grid-cols-3">
        <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
            <li>
                <div class="flex items-center gap-x-6">
                <img class="size-16 rounded-full" src="https://sports-phinf.pstatic.net/player/kbo/default/{{ lineup.hitter.player_id }}.png?type=w150" alt="">
                <div>
                    <p class="text-base/7 font-semibold tracking-tight text-gray-900">Pow</p>
                </div>
                </div>
            </li>
        </ul>
    </div>
</div>
