{% load static %}
{% load custom_filters %}

<div class="w-56 p-2">
    <div class="flex justify-center">
    <img src="https://sports-phinf.pstatic.net/player/kbo/default/{{ lineup.pitcher.player_id }}.png?type=w150"
        alt="{{ lineup.pitcher.player_name }}"
        class="w-24 shadow-lg cursor-pointer transform transition-all hover:-translate-y-1 duration-300 shadow-lg hover:shadow-2xl"
        data-modal-target="modal-face"
        data-type="pitcher"
        data-player-name="{{ lineup.pitcher.player_name }}"
        data-player-id="{{ lineup.pitcher.player_id }}"
        data-era="{{ lineup.pitcher.ERA }}"
        data-g="{{ lineup.pitcher.G }}"
        data-w="{{ lineup.pitcher.W }}"
        data-l="{{ lineup.pitcher.L }}"
        data-sv="{{ lineup.pitcher.SV }}"
        data-hld="{{ lineup.pitcher.HLD }}"
        data-wpct="{{ lineup.pitcher.WPCT }}"
        data-ip="{{ lineup.pitcher.IP }}"
        data-h="{{ lineup.pitcher.H }}"
        data-hr="{{ lineup.pitcher.HR }}"
        data-bb="{{ lineup.pitcher.BB }}"
        data-hbp="{{ lineup.pitcher.HBP }}"
        data-so="{{ lineup.pitcher.SO }}"
        data-r="{{ lineup.pitcher.R }}"
        data-er="{{ lineup.pitcher.ER }}"
        data-whip="{{ lineup.pitcher.WHIP }}"
        data-cg="{{ lineup.pitcher.CG }}"
        data-sho="{{ lineup.pitcher.SHO }}"
        data-qs="{{ lineup.pitcher.QS }}"
        data-bsv="{{ lineup.pitcher.BSV }}"
        data-tbf="{{ lineup.pitcher.TBF }}"
        data-np="{{ lineup.pitcher.NP }}"
        data-avg="{{ lineup.pitcher.AVG }}"
        data-sac="{{ lineup.pitcher.SAC }}"
        data-sf="{{ lineup.pitcher.SF }}"
        data-ibb="{{ lineup.pitcher.IBB }}"
        data-wp="{{ lineup.pitcher.WP }}"
        data-bk="{{ lineup.pitcher.BK }}"
    >
    </div>
    <div class="flex justify-center mt-1 space-x-1 relative">
        <img id="style-icon" src="{% static 'images/icon/pitcher_icon/' %}{{ lineup.pitcher.style }}.png" class="w-12 h-12 -mt-6 -ml-6 absolute z-10 left-14">
        <p class="">{{ lineup.pitcher.player_name }}</p>
    </div>
    <div id="my_pstat_bar" class="w-52">
        <div class="flex items-center">
            <span class="ml-2">{{ lineup.pitcher.stamina|percent }}</span>
            <div class="bg-gray/100 h-5 flex-1 flex justify-end">
                <div class="bar-style h-full rounded mask-linear-50 mask-linear-from-20% mask-linear-to-100%" style="width: {{ lineup.pitcher.stamina|percent }}%;"></div>
            </div>
            <span class="ml-2 w-10">체력</span>
        </div>
        <div class="flex items-center">
            <span class="ml-2">{{ lineup.pitcher.speed|speed_percent }}</span>
            <div class="bg-gray/100 h-5 flex-1 flex justify-end">
                <div class="bar-style h-full rounded mask-linear-50 mask-linear-from-20% mask-linear-to-100%" style="width: {{ lineup.pitcher.speed|speed_percent }}%;"></div>
            </div>
            <span class="ml-2 w-10">구속</span>
        </div>
        <div class="flex items-center">
            <span class="ml-2">{{ lineup.pitcher.control|percent }}</span>
            <div class="bg-gray/100 h-5 flex-1 flex justify-end">
                <div class="bar-style h-full rounded mask-linear-50 mask-linear-from-20% mask-linear-to-100%" style="width: {{ lineup.pitcher.control|percent }}%;"></div>
            </div>
            <span class="ml-2 w-10">제구</span>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const bars = document.querySelectorAll('.bar-style');
    bars.forEach(bar => {
        const widthPercent = parseFloat(bar.style.width);
        bar.classList.remove('bg-blue-300', 'bg-blue-500', 'bg-purple-500');

        if (widthPercent >= 90) {
            bar.classList.add('bg-purple-500');
        } else if (widthPercent >= 80) {
            bar.classList.add('bg-blue-500');
        } else {
            bar.classList.add('bg-blue-300');
        }
    });
});
</script>

