{% load static %}
{% load custom_filters %}
<div class="w-48 p-2">
    <div class="">
        <div class="flex items-center">
            <span class="stat-value mr-3">{{ lineup.hitter.power|percent }}</span>
            <div class="ml-1 bg-gray/100 h-5 flex-1 max-w-24 flex justify-end">
                <div class="bar-style h-full rounded flex justify-end" style="width: {{ lineup.hitter.power|percent }}%;"></div>
            </div>
            <span class="ml-2 w-10">Pow</span>
        </div>
        <div class="flex items-center">
            <span class="stat-value mr-3">{{ lineup.hitter.contact|percent }}</span>
            <div class="ml-1 bg-gray/100 h-5 flex-1 max-w-24 flex justify-end">
                <div class="bar-style h-full rounded" style="width: {{ lineup.hitter.contact|percent }}%;"></div>
            </div>
            <span class="ml-2 w-10">Con</span>
        </div>
        <div class="flex items-center">
            <span class="stat-value mr-3">{{ lineup.hitter.speed|percent }}</span>
            <div class="ml-1 bg-gray/100 h-5 flex-1 max-w-24 flex justify-end">
                <div class="bar-style h-full rounded" style="width: {{ lineup.hitter.speed|percent }}%;"></div>
            </div>
            <span class="ml-2 w-10">Spd</span>
        </div>
        <div class="flex items-center">
            <span class="stat-value mr-3">{{ lineup.hitter.speed|percent }}</span>
            <div class="ml-1 bg-gray/100 h-5 flex-1 max-w-24 flex justify-end">
                <div class="bar-style h-full rounded" style="width: {{ lineup.hitter.speed|percent }}%;"></div>
            </div>
            <span class="ml-2 w-10">Eye</span>
        </div>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const bars = document.querySelectorAll('.bar-style');
    bars.forEach(bar => {
        const widthPercent = parseFloat(bar.style.width);
        bar.classList.remove('bg-blue-300', 'bg-blue-500', 'bg-purple-500');
        if (widthPercent >= 90) {
            bar.classList.add('bg-purple-500');
        } else if (widthPercent >= 80) {
            bar.classList.add('bg-blue-500');
        } else {
            bar.classList.add('bg-blue-300');
        }
    });
});
</script>