{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'cal/css/calendar.css' %}">
<link rel="stylesheet" href="{% static 'cal/css/background.css' %}">
{% endblock %}
{% block body %}
  <div class="w-full flex justify-center bg-team" style='--team-bg: url("{% static "cal/images/bg/" %}{{ user.team }}.jpg");' >
    <table class="calendar-table bg-paper">
      <thead>
        <tr>
          <th colspan="7" class="month-header">
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <a href="?{{ prev_month }}" class="nav-link">
                <img src="{% static 'cal/images/icon/arrow.png' %}" alt="Prev" class="w-16 h-16 rotate-90 inline">
              </a>
              <span class="cal-title">{{ cal_data.year }}년 {{ cal_data.month }}월</span>
              <a href="?{{ next_month }}" class="nav-link">
                <img src="{% static 'cal/images/icon/arrow.png' %}" alt="Next" class="w-16 h-16 -rotate-90 inline">
              </a>
            </div>
          </th>
        </tr>
        <tr>
          {% for day_name in cal_data.week_header %}
            <th class="{% if forloop.counter0 == 0 %}mon{% endif %}">
              {{ day_name }}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for week in cal_data.weeks %}
          <tr>
            {% for day in week %}
              {% if day.day == 0 %}
                <td></td>
              {% else %}
                <td class="day-cell rounded-t-md">
                    <span class="day-number">{{ day.day }}</span>
                    {% for game in day.games %}
                      {% if game.result == '취소'%}
                        <div class="game-info{% if game.id in user_attendance_game_ids %} highlight-{{user.team}}{% endif %}">
                          <img src="{{ game.img_url }}" alt="{{ game.opponent }}" title="{{ game.opponent }}">
                          <span class="game-time">{{ game.time }}</span>
                          {% if game.result %}
                            <span class="game-result
                              {% if game.result == '승' %}win{% elif game.result == '패' %}lose{% elif game.result == '취소' %}cancel{% endif %}">
                              {{ game.result }}
                            </span>
                          {% endif %}
                        </div>
                      {% else %}
                        <a href="{% url 'cal:lineup' game.id %}">
                          <div class="game-info{% if game.id in user_attendance_game_ids %} highlight-{{user.team}}{% endif %}">
                            <img src="{{ game.img_url }}" alt="{{ game.opponent }}" title="{{ game.opponent }}">
                            <span class="game-time">{{ game.time }}</span>
                            {% if game.result %}
                              <span class="game-result
                                {% if game.result == '승' %}win{% elif game.result == '패' %}lose{% elif game.result == '취소' %}cancel{% endif %}">
                                {{ game.result }}
                              </span>
                            {% endif %}
                          </div>
                        </a>
                      {% endif %}
                    {% endfor %}
                </td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}