{% extends 'base.html' %}
{% load static %}


{% block title %}
홈 | 직돌이
{% endblock %}

{% block body %}
<div class="w-full aspect-[16/9] bg-center bg-cover bg-no-repeat -mb-12 hidden sm:block"
    style="background-image: url({% static random_bg %});">
</div>

<div class="flex flex-col items-center sm:hidden pt-10 font-parkdahyun overflow-hidden">
    <!-- 스티커 1 -->
    <a href="{% url 'cal:calendar' %}">
        <div class="relative  w-72 h-44 bg-[url('/static/cal/images/icon/bg-memo.png')] bg-contain bg-no-repeat bg-center rotate-[-2deg] ">
            <p class="absolute top-16 left-21 text-[17px] text-gray-700 font-bold leading-relaxed">
                🗓️ 직관 캘린더<br>
            </p>
            <span class="absolute text-[16px] top-22 left-10">
                내가 좋아하는 팀의 경기 일정만 쏙!<br>
                그날의 라인업까지 한눈에 확인 가능 ✨
            </span>
        </div>
    </a>

    <!-- 스티커 2 -->
    <a href="{% url 'posts:post_index' %}">
        <div class="relative w-72 h-44 bg-[url('/static/cal/images/icon/bg-memo.png')] bg-contain bg-no-repeat bg-center rotate-[1.5deg] ">
            <p class="absolute top-16 left-20 text-[17px] text-gray-700 font-bold leading-relaxed">
                ✏️ 직돌이네 응원석<br>
            </p>
            <span class="absolute text-[16px] top-22 left-9">
                자유롭게 글 쓰고, 선수 자랑도 하고<br>
                맛집 추천, 질문, 하찮은 야구 잡담도 환영🎈
            </span>
        </div>
    </a> 

    <!-- 스티커 3 -->
    <div class="relative w-72 h-44 bg-[url('/static/cal/images/icon/bg-memo.png')] bg-contain bg-no-repeat bg-center rotate-[-1deg] ">
        <a href="{% url 'cal:standings'%}">
            <p class="absolute top-16 left-20 text-[17px] text-gray-700 font-bold leading-relaxed">
                📊 직관 전 순위 보기<br>
            </p>
            <span class="absolute text-[16px] top-22 left-8">
                우리 팀 요즘 어때? 타자·투수 순위 한눈에!<br>
                KBO 전체 순위까지, 직관 전 필수 체크 🎯
            </span>
        </a>
    </div>
</div>

<!-- 데스크탑 저니 -->
<div id="introOverlay" class="fixed grid inset-0 bg-black/40 z-100 cursor-pointer hidden">
    <div class="text-white pt-24">
        <div id="introSteps" class="flex flex-col md:flex-row gap-6 px-4">
            <p class="p-4 bg-white/30 backdrop-blur-sm rounded-lg absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden select-none">
                <strong class="text-2xl">직돌이 캘린더</strong>에 오신 여러분을 환영합니다!<br>
                준비된 가이드를 보시고 모든 기능을 활용해보세요!
            </p>
            <p class="p-4 bg-white/30 backdrop-blur-sm rounded-lg absolute left-2/7 top-[100px] -translate-x-1/2 hidden select-none">
                <strong class="text-2xl">캘린더</strong>에서는<br>
                가입할 때 선택한 <strong>응원팀 기준으로 경기 일정</strong>을 확인할 수 있어요.<br>
                어느 팀과 경기를 하는지 한눈에 볼 수 있답니다!
            </p>
            <p class="p-4 bg-white/30 backdrop-blur-sm rounded-lg absolute left-4/13 top-[100px] -translate-x-1/2 hidden select-none">
                <strong class="text-2xl">응원석</strong>은<br>
                자유롭게 <strong>응원글, 질문, 이야기를 나누는 공간</strong>이에요.
            </p>
            <p class="p-4 bg-white/30 backdrop-blur-sm rounded-lg absolute left-5/13 top-[100px] -translate-x-1/2 hidden select-none">
                <strong class="text-2xl">순위</strong>에서는<br>
                KBO <strong>전체 팀 순위</strong>는 물론,<br>
                <strong>내가 응원하는 팀 내에서 타자/투수 순위</strong>도 확인할 수 있어요.<br>
                우리 팀에서 누가 잘하고 있는지도 알 수 있죠!
            </p>
            <p class="p-4 bg-white/30 backdrop-blur-sm rounded-lg absolute left-4/9 top-[100px] -translate-x-1/2 hidden select-none">
                <strong class="text-2xl">경기장</strong>에서는<br>
                각 구장의 <strong>예매 정보, 위치 안내, 맛집 정보</strong>를 볼 수 있어요.<br>
                현재 위치에서 <strong>야구장까지 가는 길</strong>도 네이버 지도로 안내해드려요.
            </p>
            <p class="mx-6 p-2 bg-white/30 backdrop-blur-sm rounded-lg absolute left-2/3 top-[100px] hidden select-none">
                <strong class="text-2xl">회원가입 후, </strong>나만의 팀을 선택하고 다양한 정보를 받아보세요.
            </p>
        </div>
    </div>

    <!-- 마지막 안내 박스 -->
    <div id="finalMessage" class="bg-white/70 backdrop-blur-sm p-6 rounded-lg text-center max-w-md shadow-xl absolute left-1/2 top-[300px] -translate-x-1/2 hidden select-none">
        <p class="p-2">
            주요 기능들을 모두 살펴보셨어요!
        </p>
        <button onclick="console.log('버튼 눌림'); closeIntro()" class="mt-2 px-4 py-2 bg-gray-600 text-white rounded hover:bg-blue-700">
            다시 보지 않기
        </button>
    </div>
</div>
{% endblock %}
