/* 사용자 정의 폰트 */
@font-face {
  font-family: 'YdestreetB';
  src: url('/static/fonts/YdestreetB.woff2') format('woff2');
}
@font-face {
  font-family: 'YdestreetL';
  src: url('/static/fonts/YdestreetL.woff2') format('woff2');
}

/* 기본 바디 폰트 설정 */
body {
  font-family: 'YdestreetL', sans-serif;
}

/* 사용자 지정 폰트 클래스 */
.font-ydestreetb {
  font-family: 'YdestreetB', sans-serif;
  font-weight: bold;
}

/* Google Font 클래스 정의 */
.font-black-han {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-gamja-flower {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-noto {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 팀별 색상 하이라이트 */
.highlight-LG {
  color: #C60C30;
}
.highlight-HH {
  color: #FA6A00;
}
.highlight-LT {
  color: #002955;
}
.highlight-SS {
  color: #005BAC;
}
.highlight-SK {
  color: #c8102e;
}
.highlight-NC {
  color: #1F3C88;
}
.highlight-OB {
  color: #0E2344;
}
.highlight-HT {
  color: #C6011F;
}
.highlight-KT {
  color: #000000;
}
.highlight-WO {
  color: #6F263D;
}

.handwritten {
  font-family: 'Gamja Flower', 'Jua', cursive;
}

.sketch-box {
  border-radius: 1rem;
  backdrop-filter: blur(4px);
  background: #fff;
  box-sizing: border-box;
  vertical-align: top;
  overflow: auto;
  box-shadow: 2px 2px 0 #ccc;
  transition: transform 0.2s ease, background-color 0.2s ease;
}